:root {
  font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

h1 {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 2;
}

h3,h4 {
  font-weight: 50;
  text-align: center;
}

.greyedHeading {
  color: #CCCCCC;
}

.subnote {
  font-size: 20px;
  color: #888888;
}

.ingress {
  font-size: 20px;
}

.centeredButton {
  text-align: center;
  padding: 30px;
}


.invisible {
  display: none;
}

.obColumn {
  float: left;
  width: 47%;
  padding: 1%;
}

.column {
  float: left;
  width: 31%;
  padding: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
