.cardPaper {
    padding: 15px;
    background-image: url('../assets/lined-paper-texture.jpg');
}

.removeHover {
    text-decoration: line-through;
    user-select: none;
    color: #CC0000;
}

.productList {

}